bu projede kendi geliştirdiğim vue-cli yapısını kullanıyorum. sana mantığını anlatacağım gerekirse kullanabilirsin.
-- bu cli yapısı ile kendine hazır tablolar oluşturabilirsin. 
    --- oluşturduğun tabloların, api bağlantıları ve roouter sayfaları otomatik oluşturulur.
    --- vue-cli --tjson ./books.json -> terminal kodunu oluşturarak toplu tablolar oluşturabilirsin.
    --- bunun için ana dizinde bir json dosyası oluşturmalı ve aşağıdaki json yapısına benzer bir kod eklemeli ve "vue-cli --tjson ./books.json" kodunu terminalde çağırmalısın.
    --- tablolarda "users" isimini kullanma bunu yerine başka bir isim kullanabilirsin.
    {
        "books": ["book_id", "book_title", "book_author", "book_created_at", "book_updated_at"],
        "categories": ["category_id", "category_name", "category_created_at", "category_updated_at"],
        "authors": ["author_id", "author_name", "author_created_at", "author_updated_at"],
        "publishers": ["publisher_id", "publisher_name", "publisher_created_at", "publisher_updated_at"],
        "languages": ["language_id", "language_name", "language_created_at", "language_updated_at"]
    }

routers dosyasının içinde yeni bir yol eklemiş isen;
 -- eklediğin yol ile ilgili bilgileri utils klasöründe bulunan roles.js ve direction.js dosyalarını kaydetmelisin.
 -- direction.js dosyasında eklediğin yolun menü, header ve footer bilgilerini eklemelisin.
 -- roles.js dosyasında eklediğin yolun rol bilgilerini eklemelisin.